{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{%static 'website/images/bgg.jpg'%}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url({%static 'website/images/bg1.jpg'%});">
					</div>
					<div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
	          <div class="heading-section mb-5">
	          	<div class="pl-md-5 ml-md-5">
		          	<span class="subheading" style="text-align: center;">About National Disability Solutions</span>
		            <h2 class="mb-4" style="font-size: 28px; text-align: center;">NDS has been providing specialized services to participants with quality and comprehensive Disability Care Services.</br></br>
					Where Disability Turns into Ability!!!</h2></h2>
	            </div>
	          </div>
	          <div class="pl-md-5 ml-md-5 mb-5">
							<p><b>National Disability Solutions</b> is a group of highly experienced professionals to provide services targeting client’s independence and focusing their individual needs. Our mission and vision are derived from the work experiences of our professionals and working with different ability people.</p>

							</br>
							<p>National Disability Solutions aims to close the gap between your expectation and actual service provided. We promise the high quality services to our clients. We have partnered with the highly skilled professionals with extensive experiences.</p>

							<!--<div class="row mt-5 pt-2">
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-calendar"></span></div>
										<div class="text">
											<h3>Make an appointment</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-team"></span></div>
										<div class="text">
											<h3>Work Together</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-checklist"></span></div>
										<div class="text">
											<h3>Activate your NDIS plan</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-customer-review"></span></div>
										<div class="text">
											<h3>Live your life the way you want!</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
										</div>
									</div>
								</div>
							</div>
						</div>-->
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter" style="background-image: url({%static 'website/images/bggg.jpg' %}); width=100% ;" data-stellar-background-ratio="0.5">
			<div class="container">
				 <div class="row justify-content-center mb-5 pb-2">
        	<div class="pl-md-5 ml-md-5">
		          	<h2 class="mb-4" style="font-size: 24px; text-align: center;font-weight: 800; margin-top: 20px">WHO WE ARE ?</h2>
		            <p><b>National Disability Solutions</b>is person centred care provider
							with holistic care approach. We commit to provide excellent
							care that you deserve. <br><br>Dealing with the National Disability Insurance Scheme (NDIS)
							may feel overwhelming. National Disability Solutions can help
							you to utilise NDIS Plan effectively.<br><br>National Disability Solutions offers varieties of in-home support
							services. Our scheduling is flexible and responsive. We offer
							tailored quality support for your loved ones and get the most
							from NDIS plan.<br><br>Need to learn more about NDIS? We will assist you with a
							customised plan that will cater to your needs and achieve goal.<br> 
					</p>
	            </div>
	        </div>
	    </div>
	</section>

			

		

		<section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
        	<div class="row mt-5 pt-2">
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-mission"></span></div>
										<div class="text">
											<h3 >Our Mission</h3>
											<p>Working together to achieve the best quality of life targeting each individual goals.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-eye-care"></span></div>
										<div class="text">
											<h3>Our vision</h3>
											<p>Empower nationals with different ability and bring differences in person’s life and society.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-value"></span></div>
										<div class="text">
											<h3>Our values</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-love"></span></div>
										<div class="text">
											<h3>Inclusion</h3>
											<p>We respect the differences; ethnicity, background, religion, sex, different ability.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reliability"></span></div>
										<div class="text">
											<h3>Reliability</h3>
											<p>We promise to deliver reliable personalized services according to client’s needs and goals.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-integration"></span></div>
										<div class="text">
											<h3>Integrity</h3>
											<p>We deliver services honestly and transparently in the best interest of our valued clients. </p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-quality"></span></div>
										<div class="text">
											<h3>Quality</h3>
											<p>We believe in high quality services with skill improvement. We provide high quality services to our clients and maintain Australian Quality Standards.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diversity"></span></div>
										<div class="text">
											<h3>Diversity</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
										</div>
									</div>
								</div>
							</div>
						
					</div>
							</div>
						
					</div>
				</div>
			</div>
		</section>
		
		<section class="ftco-intro" style="background-image: url({%static 'website/images/bg_3.jpg'%});" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<h2>We Provide Free Disability Care Consultation</h2>
						<p class="mb-0">Your Health is Our Top Priority with Comprehensive, Affordable Disability Services.</p>
						<p></p>
					</div>
					<div class="col-md-3 d-flex align-items-center">
						<p class="mb-0"><a href="tel://+61- 432051040" class="btn btn-secondary px-4 py-3">Ask Expert</a></p>
					</div>
				</div>
			</div>
		</section>


		
		
    <!--<section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Testimonials</span>
            <h2 class="mb-4">Our Patients Says About Us</h2>
            <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-8">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({%static 'website/images/person_1.jpg'%})">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Racky Henderson</p>
                    <span class="position">Farmer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({%static 'website/images/person_2.jpg'%})">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Henry Dee</p>
                    <span class="position">Businessman</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({%static 'website/images/person_3.jpg'%})">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Mark Huff</p>
                    <span class="position">Students</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({%static 'website/images/person_4.jpg'%})">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Rodel Golez</p>
                    <span class="position">Striper</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({%static 'website/images/person_1.jpg'%})">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Ken Bosh</p>
                    <span class="position">Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <!-- <section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter" style="background-image: url({%static 'website/images/bac.jpg' %});" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 py-5 pr-md-5">
	          <div class="heading-section heading-section-white ftco-animate mb-5">
	          	<div class="ftco-footer-social list-unstyled float-md-top float-lft mt-3" style="text-align: center;"><span class="subheading"></span> 
	          	<ul>
	          		<li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-twitter"></span></a></li>
	          		<li class="ftco-animate fadeInUp ftco-animated"><a href="https://www.facebook.com/National-Disability-Solutions-108330400855508"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
          </div>
	          	<span class="subheading"></span>
	            <h2 class="mb-4" style="text-align:center;">Get In Touch</h2>
	            <p style="text-align:center;">We love what we do and we do it with passion. We value the experimentation, the reformation of the message, and the smart incentives.</p>
	          </div>
	          <form action="#">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
               <div class="form-group">
                <input type="text" class="form-control" placeholder="Mobile Number">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group" style="text-align:center;">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
    			</div>
    			<div class="col-lg-6 p-5 bg-counter aside-stretch">
						<h3 class="vr">About National Disability Solutions Facts</h3>


    			<a href="/">
                                    <img src="/static/website/images/support.jpg" class="img-fluid" alt="" width="100%" height="400" style="vertical-align:middle;">
                                </a>

                                <a href="/">
                                    <img src="/static/website/images/services.png" class="img-fluid" alt="" width="100%" height="300" style="vertical-align:middle;margin-top:100px">
                                </a>
          </div>
        </div>
    	</div>
    </section>-->

   {% endblock %}
