{% extends 'base.html' %}
{% load static %}

{% block content %}



    <!-- END nav -->
    
    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url({%static 'website/images/bg1.jpg' %});" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 text ftco-animate">
            <h1 class="mb-4">National Disability Solutions </h1>
            <h2 class="subheading">will provide you trusted care.</h2>
            <p><a href="tel://+61- 432051040" class="btn btn-secondary px-4 py-3 mt-3">Ask Expert</a></p>
          </div>
        </div>
        </div>
      </div>

      <div class="slider-item" style="background-image:url({%static 'website/images/pp4.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 text ftco-animate">
            <h1 class="mb-4">Supported </br>Independent Living (SIL) <span> </span></h1>
            <h2 class="subheading">Vacancies Available</h2>
            <p><a href="tel://+61- 432051040" class="btn btn-secondary px-4 py-3 mt-3">Ask Expert</a></p>
          </div>
        </div>
        </div>
      </div>
    </section>

    <!--<section class="ftco-services ftco-no-pb">
			<div class="container">
				<div class="row no-gutters">

					<a href="/">
                                    <img src="/static/website/images/covid1.jpg" class="img-fluid" alt="" width="100%" height="500" style="vertical-align:middle;margin-top: 50px">
                                </a>
         <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-experience"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Experienced</h3>
                <p>Over 5 years' experience in disability services.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-solution"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Tailored Solutions</h3>
                <p>Support to meet your unique needs and goals.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-shield"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Trusted</h3>
                <p>Proven support from experts in the NDIS and disability.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-clock"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">24 Hours Service</h3>
                <p>Our friendly team is with you every step of the way.</p>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>-->
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url({%static 'website/images/pp1.jpg' %});">
					</div>
					<div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
	          <div class="heading-section mb-5">
	          	<div class="pl-md-5 ml-md-5">
		          	<span class="subheading" style="text-align: center;">About National Disability Solutions</span>
		            <h2 class="mb-4" style="font-size: 28px; text-align: center;">NDS has been providing specialized services to participants with quality and comprehensive Disability care services.</br></br>
					Where Disability Turns into Ability!!!</h2>
	            </div>
	          </div>
	          <!--<div class="pl-md-5 ml-md-5 mb-5">
							<p><b>National Disability Solutions</b> is a group of highly experienced professionals to provide services targeting client’s independence and focusing their individual needs. Our mission and vision are derived from the work experiences of our professionals and working with different ability people.</p>
								 


							<div class="pl-md-5 ml-md-5">
		          	<h2 class="mb-4" style="font-size: 24px; text-align: center;font-weight: 800">WHO WE ARE ?</h2>
		            <p><b>National Disability Solutions</b>is person centred care provider
							with holistic care approach. We commit to provide excellent
							care that you deserve. <br><br>Dealing with the National Disability Insurance Scheme (NDIS)
							may feel overwhelming. National Disability Solutions can help
							you to utilise NDIS Plan effectively.<br><br>National Disability Solutions offers varieties of in-home support
							services. Our scheduling is flexible and responsive. We offer
							tailored quality support for your loved ones and get the most
							from NDIS plan.<br><br>Need to learn more about NDIS? We will assist you with a
							customised plan that will cater to your needs and achieve goal.<br> 
					</p>
	            </div>
							<div class="row mt-5 pt-2">
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-calendar"></span></div>
										<div class="text">
											<h3>Make an appointment</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-team"></span></div>
										<div class="text">
											<h3>Work Together</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-checklist"></span></div>
										<div class="text">
											<h3>Activate your NDIS plan</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-customer-review"></span></div>
										<div class="text">
											<h3>Live your life the way you want!</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
										</div>
									</div>
								</div>
							</div>-->
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="ftco-intro" style="background-image: url({%static 'website/images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<h2>We Provide Free Consultation</h2>
						<!--<p class="mb-0">Your Health is Our Top Priority with Comprehensive, Affordable Disability Services.</p>
						<p></p>-->
					</div>
					<div class="col-md-3 d-flex align-items-center">
						<p class="mb-0"><a href="tel://+61- 432051040" class="btn btn-secondary px-4 py-3">Ask Expert</a></p>
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Services</span>
            <h2 class="mb-4">Disability Support Service</h2>
            <!--<p><b>NATIONAL DISABILITY SOLUTIONS </b>Provides Proper care for a loved one with a disability is of vital importance to them, you and the rest of your family. NDS understands how precious your loved one is. We also understand how important it is to create individualised care plans for people with a disability. We offer compassionate, trustworthy and flexible care that will improve your family’s quality of life. Our services can help your loved one live life to the fullest.</p>-->
          </div>
        </div>
    		<div class="ftco-departments">
					<div class="row">
            <div class="col-md-12 nav-link-wrap">
	            <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Personal_Care_Support.html"  aria-controls="Personal_Care_Support.html" aria-selected="false">Personal Care Support<br><br><button class="button button5">More</button></a>

	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Assistance_with_self_Care_activities.html" role="tab" aria-controls="Assistance_with_self_Care_activities.html" aria-selected="false">Assistance with Self Care Activities<br><button class="button button5">More</button></a>

	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Cleaning_Gardening.html" role="tab" aria-controls="Cleaning_Gardening.html" aria-selected="false">Cleaning, Gardening &amp; Linen Services<br><button class="button button5">More</button></a>

	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Community_Participation.html" role="tab" aria-controls="Community_Participation.html" aria-selected="false">Community Participation<br><br><button class="button button5">More</button></a>

	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Travel_Transport_Assist.html" role="tab" aria-controls="Travel_Transport_Assist.html" aria-selected="false">Travel/Transport Assist<br><br><button class="button button5">More</button></a>

	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Support_Coordination.html" role="tab" aria-controls="Support_Coordination.html" aria-selected="false">Support Coordination<br><br><button class="button button5">More</button></a>

	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Supported_Independent_Living.html" role="tab" aria-controls="Supported_Independent_Living.html" aria-selected="false">Supported Independent Living (SIL)<br><button class="button button5">More</button></a>

	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Plan_Management.html" role="tab" aria-controls="Plan_Management.html" aria-selected="false">Plan Management<br><br><button class="button button5">More</button></a>

	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Respite_Care.html" role="tab" aria-controls="Respite_Care.html" aria-selected="false">Respite Care<br><br><br><button class="button button5">More</button></a>

	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Home_Modification.html" role="tab" aria-controls="Home_Modification.html" aria-selected="false">Home Modification<br><br><button class="button button5">More</button></a>

	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Accommodation.html" role="tab" aria-controls="Accommodation.html" aria-selected="false">Accommodation &amp; Tenancy<br><br><button class="button button5">More</button></a>

	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Exercise_physiology_Fitness_Trainer.html" role="tab" aria-controls="Exercise_physiology_Fitness_Trainer.html" aria-selected="false">Exercise physiology &amp; Fitness Trainer<br><button class="button button5">More</button></a>

	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Allied_Health.html" role="tab" aria-controls="Allied_Health.html" aria-selected="false">Allied Health<br><br><br><button class="button button5">More</button></a>

	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Incontinence_Assessment.html" role="tab" aria-controls="Incontinence_Assessment.html" aria-selected="false">Incontinence Assessment<br><br><button class="button button5">More</button></a>

	              <a class="nav-link ftco-animate fadeInUp ftco-animated" href="Specialized_Community_Nursing.html" role="tab" aria-controls="Specialized_Community_Nursing.html" aria-selected="false">Specialized Community Nursing<br><button class="button button5">More</button></a>

	            </div>
	          </div>
	         <!-- <div class="col-md-12 tab-wrap">
	            
	            <div class="tab-content bg-light p-4 p-md-5 ftco-animate" id="v-pills-tabContent">

	              <div class="tab-pane py-2 fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({%static 'website/images/dept-1.jpg' %});"></div>
	              		</div>
	              		<div class="col-lg-8">
	              			<h2>Personalised Support</h2>
	              			<p>We offer personalised support from very experienced Disability Support Worker working in guidance with Social Worker and Registered Nurses to ensure optimum quality care at the choice of participant.</br></br>


                                  The participant can access quality services for:</br></br>


                                       -Household Tasks</br>
                                       -Assist-Travel Transport</br>
                                       -Assist-Personal Activities</br>
                                       -Community Participation</p>
											
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({%static 'website/images/dept-2.jpg' %});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Assist With Personal Activities</h2>
	              			<p><strong>National Disability Solutions</strong> can assist, supervises and promote your functional ability to achieve self-care skills and promote independence by our highly experienced staff.</br></br>

	              				The tasks may include: </br></br>

	              				-Oral hygiene, showering, bathing, grooming and dressing</br>
	              				-Meal preparation, eating and drinking</br>
	              				-Mobility and transferring, for example moving in and out of bed and on or off the toilet</br>
	              				-Toileting, bladder and bowel management and menstrual care</br>
	              				-Use of aids and appliances, hearing and communication devices</br>
	              				-Application of splints, basic first aid due to injuries sustained as a result of a participant’s disability.</br>
	              				-Domestic cleaning routines</br>
	              				-General households maintenance</br>
	              				-Daily morning and night routines</br>



	              			</p>
											
	              		</div>
	              	</div>
	              </div>
	              <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({%static 'website/images/dept-3.jpg' %});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Specialized Community Nursing</h2>
	              			<p>Our highly experienced clinical nurse specialists and registered nurses deals with nursing care.</br></br>

	              				Our Health Professional ensures the following nursing care is performed with qualified nurses:</br></br>

	              				
	              				
	              				-Complex Wound Management</br>

                                -Urinary Catheter Management (IDC, SPC, In/Out Catheter)</br>

                                -Subcutaneous Injections</br>

                                -Tracheostomy Management</br>

                                -Ventilator Management</br>

                                -Complex Bowel Care</br>

                                -Diabetes Education and Management</br>
	              			</p>
											
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-day-4-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({%static 'website/images/dept-4.jpg' %});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Accommodation/Tenancy</h2>
	              			<p>We offer Short-term and respite accommodation for participants in need of transition.</br></br>

	              			Our experienced social worker will be delighted to offer appropriate accommodation at the participant's choice.</br></br>

	              			-We offer assistance with daily life task in a shared living arrangements.</br>
	              			-Development of life skills.
	              			</p>
											
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-day-5-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({%static 'website/images/dept-5.jpg' %});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Plan Management</h2>
	              			<p>Our qualified CPA provides a plan management service.</br></br>

	              				The plan manager will work with you on your plan so that they can track your goal achievement. He is a responsible professional to develop a learning platform of implementing your NDIS plan and refer to number of service providers to obtain the service of your choice ensuring no conflict of interest. He can keep your record for the purpose of the audit.</br></br>
	              				To pay for your support, you can simply choose one of the following options:</br>

									E-mail your authorised invoice/s to us</br>

									Mail your signed invoice/s to our mailing address</br>

									Set up a standing authorisation for the service providers of your choice</br></br>

									It is very simple. We will process authorised invoices within 2 business days, provided that you have a valid NDIS (National Disability Insurance Scheme) plan. We will also send periodic activity statements to assist you in tracking your spending.





	              			</p>
											
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-6" role="tabpanel" aria-labelledby="v-pills-day-6-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({%static 'website/images/dept-2.jpg' %});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Allied Health</h2>
	              			<p>We offer experienced allied health professional in Disability and Aged sector.</br></br>
	              				The Support Coordination team at<strong> National Disability Solutions</strong> can assist with connecting you to NDIS registered allied healthcare services. </br></br>
	              				These services include:</br></br>

									-Psychology</br>
									-Physiotherapy</br>
									-Chiropractic</br>
									-Speech Pathology</br>
									-Podiatry</br>
									-Nursing
									-Occupational therapy</br>
									-Social work</br>
									-Osteopathy</br>
									-Aboriginal and Torres Strait Islander health services</br>
									-Accredited exercise physiology</br>
	              				
                                 </p>
											
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-7" role="tabpanel" aria-labelledby="v-pills-day-7-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({%static 'website/images/dept-2.jpg' %});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Home Modification</h2>
	              			<p>Our NDIS approved Builder can assist with the modification of your home to facilitate your independence</br></br>
	              				Our very experienced builder holds a Builder License. He has several years of experience in modifying and building new homes. </br></br>
	              				<strong>National Disability Solutions</strong> provides consulting, design, construction services, and the  This may includes:</br></br>
	              				-Handicap Ramps</br>
								-Door and Hallway Widening</br>
								-Accessible Bathrooms</br>
								-Accessible Bedrooms</br>
								-Automatic Door Openers</br>
								-Low-Pile Carpet and Smooth Flooring</br>
								-Stairlifts and Porch Lifts</br>
								-Ceiling Track Lifts</br>
								-Accessible Lighting</br>
								-Emergency Exits</br>

	              				
	              			</p>
											
	              		</div>
	              	</div>
	              </div>
	              <div class="tab-pane fade" id="v-pills-8" role="tabpanel" aria-labelledby="v-pills-day-8-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({%static 'website/images/dept-2.jpg' %});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Physiotherapy</h2>
	              			<p>At <strong>National Disability Solutions </strong>our Physiotherapists will help participants of all age groups and with different conditions. They help participants take part in the community and be more independent.</br></br>
	              			Our Physiotherapists are experts in treating children, young people and adults with a disability, heart and lung conditions, neurological and musculoskeletal conditions, and ageing and gender specific conditions.</br></br>
	              				Physiotherapists can help you, or the person you care for: </br>
	              				-get out of bed</br>
	              				-take a bath or shower, dress and eat</br>
	              				-move around the home and outside the home</br>
	              				-do daily jobs, or sports and hobbies</br>
	              				-manage pain and chronic conditions</br>
	              				-lose weight</br>
	              				-choose and learn to use new equipment, like wheelchairs, walking frames and orthotics</br>
	              				</br>
	              				Participants may need a short burst of care from a physiotherapist, or care for a longer time to achieve their goals. Our physiotherapists can put a plan together to help them now, and into the future.</br></br>
	              				Some health conditions need a number of health experts to work together. Physiotherapists also work closely with other health workers. Together they can help you manage more complex needs.



	              			</p>
											
	              		</div>
	              	</div>
	              </div>
	              <div class="tab-pane fade" id="v-pills-9" role="tabpanel" aria-labelledby="v-pills-day-9-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({%static 'website/images/dept-2.jpg' %});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Occupational Therapist (OT)</h2>
	              			<p><strong>National Disability Solutions</strong> Care is providing an OT specialist who is registered with NDIS , our occupational therapists have experience in several specialty areas including pediatrics, autism, intellectual disability, mental health, and neurological disorders. We provide services and expertise in the following areas :</br>
	              				</br>
	              				-Home Assessment</br>
	              				-Functional (ADL) Assessment</br>
	              				-Assistive Technology (equipment)</br>
	              				-Sensory Profile Assessment</br>
	              				-Pre-planning Assessment</br>
	              				-Housing Assessment SIL</br>
	              				-Housing Assessment SDA</br>
	              				-Recreation/ Work services</br>
	              				-Home Modifications</br>



	              			</p>
											
	              		</div>
	              	</div>
	              </div>
	              <div class="tab-pane fade" id="v-pills-10" role="tabpanel" aria-labelledby="v-pills-day-10-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({%static 'website/images/dept-2.jpg' %});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Supported Independent Living </h2>
	              			<p>Supported Independent Living is sometimes called shared accommodation, SIL is an NDIS support where a person with a disability lives with other people. (SIL) is a shared living arrangement of 2 to 7 NDIS participants, with 24/7 support in a home environment. SIL supports people with disability that require assistance with daily life tasks, each resident is funded individually, and the funding reflects their individual and shared support in the home.</br></br>
	              				National Disability Solutions will provide customers with a comfortable and secure home, we will also support you with day-to-day tasks like:</br></br>
	              				-Cleaning and laundry</br>
	              				-Nutrition and cooking</br>
	              				-Personal care such as showering and dressing</br>
	              				-Going to appointments</br>
	              				-Taking medication</br>
	              				-Taking up a hobby</br>
	              				-Learning to catch public transport.</br>
	          



	              			</p>
											
	              		</div>
	              	</div>
	              </div>
	            </div>
	          </div>-->
	        </div>
        </div>
    
    
    		
    		
    </div>
    </section>

    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate fadeInUp ftco-animated">
          	<span class="subheading"><a href="https://www.ndis.gov.au/stories/4770-applying-ndis">
                                    <img src="/static/website/images/heartndis.jpg" class="img-fluid" alt="" width="120" height="120" style="vertical-align:middle;margin:5px 20px">
                                </a></span>
            <h2 class="mb-4"> <a href="https://www.ndis.gov.au/stories/4770-applying-ndis">Applying For NDIS<br>NDIS Plan</a></h2>
         
          </a>
      </div>
      <a href="https://www.ndis.gov.au/stories/4770-applying-ndis">
        </a>
    </div>
    <a href="https://www.ndis.gov.au/stories/4770-applying-ndis">
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/LfrjyaHtTY0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </a>
</div>
</section>

<section class="ftco-services ftco-no-pb">
			<div class="container">
				<div class="row no-gutters">

					<a href="/">
                                    <img src="/static/website/images/covid1.jpg" class="img-fluid" alt="" width="100%" height="500" style="vertical-align:middle;margin-top: 5px">
                                </a>

                                </div>
                            </div>
                        </section>
		
		
    <!--<section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Testimonials</span>
            <h2 class="mb-4">Our Patients Says About Us</h2>
            <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-8">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({%static 'website/images/person_1.jpg' %})">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Racky Henderson</p>
                    <span class="position">Farmer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({%static 'website/images/person_2.jpg' %})">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Henry Dee</p>
                    <span class="position">Businessman</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({%static 'website/images/person_3.jpg' %})">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Mark Huff</p>
                    <span class="position">Students</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({%static 'website/images/person_4.jpg' %})">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Rodel Golez</p>
                    <span class="position">Striper</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({%static 'website/images/person_1.jpg' %})">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Ken Bosh</p>
                    <span class="position">Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter" style="background-image: url({%static 'website/images/bac.jpg' %});" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 py-5 pr-md-5">
	          <div class="heading-section heading-section-white ftco-animate mb-5">
	          	<div class="ftco-footer-social list-unstyled float-md-top float-lft mt-3" style="text-align: center;"><span class="subheading"></span> 
	          	<ul>
	          		<li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-twitter"></span></a></li>
	          		<li class="ftco-animate fadeInUp ftco-animated"><a href="https://www.facebook.com/National-Disability-Solutions-108330400855508"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
          </div>
	          	<span class="subheading"></span>
	            <h2 class="mb-4" style="text-align:center;">Get In Touch</h2>
	            <p style="text-align:center;">We love what we do and we do it with passion. We value the experimentation, the reformation of the message, and the smart incentives.</p>
	          </div>
	          <form action="#">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email">
              </div>
              <!--<div class="form-group">
                <input type="text" class="form-control" placeholder="Subject">
              </div>-->
               <div class="form-group">
                <input type="text" class="form-control" placeholder="Mobile Number">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group" style="text-align:center;">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
    			</div>
    			<div class="col-lg-6 p-5 bg-counter aside-stretch">
						<h3 class="vr">About National Disability Solutions Facts</h3>


    			<a href="/">
                                    <img src="/static/website/images/Disability.jpg" class="img-fluid" alt="" width="100%" height="600" style="vertical-align:middle;">
                                </a>

                                <a href="/">
                                    <img src="/static/website/images/services.png" class="img-fluid" alt="" width="100%" height="300" style="vertical-align:middle;margin-top:100px">
                                </a>
    			<!--<div class="col-lg-6 p-5 bg-counter aside-stretch">
						<h3 class="vr">About National Disability Solutions Facts</h3>
    				<div class="row pt-4 mt-1">
		          <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 p-5 bg-light">
		              <div class="text">
		                <strong class="number" data-number="30">0</strong>
		                <span>Years of Experienced</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 p-5 bg-light">
		              <div class="text">
		                <strong class="number" data-number="4500">0</strong>
		                <span>Happy Patients</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 p-5 bg-light">
		              <div class="text">
		                <strong class="number" data-number="84">0</strong>
		                <span>Number of Doctors</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 p-5 bg-light">
		              <div class="text">
		                <strong class="number" data-number="300">0</strong>
		                <span>Number of Staffs</span>
		              </div>
		            </div>
		          </div>
	          </div>-->
	      </div>
          </div>
        </div>
    	</div>
    </section>

    <!--<section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Pricing</span>
            <h2 class="mb-4">Our Pricing</h2>
            <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
          </div>
        </div>
    		<div class="row">
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Basic</h3>
	        			<p><span class="price">$24.50</span> <span class="per">/ session</span></p>
	        		</div>
        			<ul>
        				<li>Diagnostic Services</li>
								<li>Professional Consultation</li>
								<li>Tooth Implants</li>
								<li>Surgical Extractions</li>
								<li>Teeth Whitening</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Standard</h3>
	        			<p><span class="price">$34.50</span> <span class="per">/ session</span></p>
	        		</div>
        			<ul>
        				<li>Diagnostic Services</li>
								<li>Professional Consultation</li>
								<li>Tooth Implants</li>
								<li>Surgical Extractions</li>
								<li>Teeth Whitening</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry active pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Premium</h3>
	        			<p><span class="price">$54.50</span> <span class="per">/ session</span></p>
	        		</div>
        			<ul>
        				<li>Diagnostic Services</li>
								<li>Professional Consultation</li>
								<li>Tooth Implants</li>
								<li>Surgical Extractions</li>
								<li>Teeth Whitening</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Platinum</h3>
	        			<p><span class="price">$89.50</span> <span class="per">/ session</span></p>
	        		</div>
        			<ul>
        				<li>Diagnostic Services</li>
								<li>Professional Consultation</li>
								<li>Tooth Implants</li>
								<li>Surgical Extractions</li>
								<li>Teeth Whitening</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
        		</div>
        	</div>
        </div>
    	</div>
    </section>-->

		{% endblock %}
		
   