{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'website/images/bgg.jpg'%});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Personal Care Support</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="home.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Services<i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Services</span>
            <h2 class="mb-4">Disability Support Service</h2>
            <p><b>NATIONAL DISABILITY SOLUTIONS</b>Provides Proper care for a loved one with a disability is of vital importance to them, you and the rest of your family. NDS understands how precious your loved one is. We also understand how important it is to create individualised care plans for people with a disability. We offer compassionate, trustworthy and flexible care that will improve your family’s quality of life. Our services can help your loved one live life to the fullest.</p>
          </div>
        </div>
        
											
    		<div class="ftco-departments">
					<div class="row">
						<div class="col-md-12 tab-wrap">
	            
	            <div class="tab-content bg-light p-4 p-md-5 ftco-animate" id="v-pills-tabContent">

	              <div class="tab-pane py-2 fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'website/images/care.png'%});"></div>
	              		</div>
	              		<div class="col-lg-8">
	              			<h2>Personalised Support</h2>
	              			<p>We offer personalised support from very experienced Disability Support Worker working in guidance with Social Worker and Registered Nurses to ensure optimum quality care at the choice of participant.</br></br>


                                  The participant can access quality services for:</br></br>


                                    •	Assist-Personal Activities</br>
                                    
									•	Household Tasks</br>
									•	Assist-Travel Transport</br>
									•	Community Participation

</p>
            <!--<div class="col-md-12 nav-link-wrap">
	            <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	              <a class="nav-link ftco-animate active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Personalised Support</a>

	              <a class="nav-link ftco-animate" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Assit With Personal Activities</a>

	              <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Specialized Community Nursing</a>

	              <a class="nav-link ftco-animate" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Accommodation</br>Tenancy</a>

	              <a class="nav-link ftco-animate" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">Plan Management</a>

				<a class="nav-link ftco-animate" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-6" role="tab" aria-controls="v-pills-6" aria-selected="false">Allied Health</a>

				<a class="nav-link ftco-animate" id="v-pills-7-tab" data-toggle="pill" href="#v-pills-7" role="tab" aria-controls="v-pills-7" aria-selected="false">Home Modification</a>

				<a class="nav-link ftco-animate" id="v-pills-8-tab" data-toggle="pill" href="#v-pills-8" role="tab" aria-controls="v-pills-8" aria-selected="false">Physiotherapy</a>

				<a class="nav-link ftco-animate" id="v-pills-9-tab" data-toggle="pill" href="#v-pills-9" role="tab" aria-controls="v-pills-9" aria-selected="false">Occupational Therapist</a>

				<a class="nav-link ftco-animate" id="v-pills-10-tab" data-toggle="pill" href="#v-pills-10" role="tab" aria-controls="v-pills-10" aria-selected="false">Supported Independent Living</a>

	            </div>
	          </div>
	          <div class="col-md-12 tab-wrap">
	            
	            <div class="tab-content bg-light p-4 p-md-5 ftco-animate" id="v-pills-tabContent">

	              <div class="tab-pane py-2 fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'website/images/dept-1.jpg'%});"></div>
	              		</div>
	              		<div class="col-lg-8">
	              			<h2>Personalised Support</h2>
	              			<p>We offer personalised support from very experienced Disability Support Worker working in guidance with Social Worker and Registered Nurses to ensure optimum quality care at the choice of participant.</br></br>


                                  The participant can access quality services for:</br></br>


                                       Household Tasks</br>
                                       Assist-Travel Transport</br>
                                       Assist-Personal Activities</br>
                                       Community Participation</p>
											<div class="row mt-5 pt-2">
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-eye-care"></span></div>
														<div class="text">
															<h3>Our Vision</h3>
															<p>That all people with disabilities must be involved equally in all aspects of social, economic, political and cultural life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-mission"></span></div>
														<div class="text">
															<h3>Our Mission</h3>
															<p><b>NDS</b> focuses on the strengths of Australians while helping each individuals overcoming the disadvantages of any types to improve their quality of life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-human-rights"></span></div>
														<div class="text">
															<h3>Equality</h3>
															<p>We respect all individuals equally</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diversity"></span></div>
														<div class="text">
															<h3>Diversity</h3>
															<p>We welcome and learn from all individuals</p>
														</div>
													</div>
												</div>
											</div>
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'website/images/dept-2.jpg'%});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Assist With Personal Activities</h2>
	              			<p><strong>National Disability Solutions</strong> can assist, supervises and promote your functional ability to achieve self-care skills and promote independence by our highly experienced staff.</br></br>

	              				The tasks may include: </br></br>

	              				-Oral hygiene, showering, bathing, grooming and dressing</br>
	              				-Meal preparation, eating and drinking</br>
	              				-Mobility and transferring, for example moving in and out of bed and on or off the toilet</br>
	              				-Toileting, bladder and bowel management and menstrual care</br>
	              				-Use of aids and appliances, hearing and communication devices</br>
	              				-Application of splints, basic first aid due to injuries sustained as a result of a participant’s disability.</br>
	              				-Domestic cleaning routines</br>
	              				-General households maintenance</br>
	              				-Daily morning and night routines</br>



	              			</p>
											<div class="row mt-5 pt-2">
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-eye-care"></span></div>
														<div class="text">
															<h3>Our Vision</h3>
															<p>That all people with disabilities must be involved equally in all aspects of social, economic, political and cultural life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-mission"></span></div>
														<div class="text">
															<h3>Our Mission</h3>
															<p><b>NDS</b> focuses on the strengths of Australians while helping each individuals overcoming the disadvantages of any types to improve their quality of life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-human-rights"></span></div>
														<div class="text">
															<h3>Equality</h3>
															<p>We respect all individuals equally</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diversity"></span></div>
														<div class="text">
															<h3>Diversity</h3>
															<p>We welcome and learn from all individuals.</p>
														</div>
													</div>
												</div>
											</div>
	              		</div>
	              	</div>
	              </div>
	              <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'website/images/dept-3.jpg'%});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Specialized Community Nursing</h2>
	              			<p>Our highly experienced clinical nurse specialists and registered nurses deals with nursing care.</br></br>

	              				Our Health Professional ensures the following nursing care is performed with qualified nurses:</br></br>

	              				
	              				
	              				-Complex Wound Management</br>

                                -Urinary Catheter Management (IDC, SPC, In/Out Catheter)</br>

                                -Subcutaneous Injections</br>

                                -Tracheostomy Management</br>

                                -Ventilator Management</br>

                                -Complex Bowel Care</br>

                                -Diabetes Education and Management</br>
	              			</p>
											<div class="row mt-5 pt-2">
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-eye-care"></span></div>
														<div class="text">
															<h3>Our Vision</h3>
															<p>That all people with disabilities must be involved equally in all aspects of social, economic, political and cultural life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-mission"></span></div>
														<div class="text">
															<h3>Our Mission</h3>
															<p><b>NDS</b> focuses on the strengths of Australians while helping each individuals overcoming the disadvantages of any types to improve their quality of life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-human-rights"></span></div>
														<div class="text">
															<h3>Equality</h3>
															<p>We respect all individuals equally</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diversity"></span></div>
														<div class="text">
															<h3>Diversity</h3>
															<p>We welcome and learn from all individuals.</p>
														</div>
													</div>
												</div>
											</div>
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-day-4-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'website/images/dept-4.jpg'%});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Accommodation/Tenancy</h2>
	              			<p>We offer Short-term and respite accommodation for participants in need of transition.</br></br>

	              			Our experienced social worker will be delighted to offer appropriate accommodation at the participant's choice.</br></br>

	              			-We offer assistance with daily life task in a shared living arrangements.</br>
	              			-Development of life skills.
	              			</p>
											<div class="row mt-5 pt-2">
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-eye-care"></span></div>
														<div class="text">
															<h3>Our Vision</h3>
															<p>That all people with disabilities must be involved equally in all aspects of social, economic, political and cultural life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-mission"></span></div>
														<div class="text">
															<h3>Our Mission</h3>
															<p><b>NDS</b> focuses on the strengths of Australians while helping each individuals overcoming the disadvantages of any types to improve their quality of life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-human-rights"></span></div>
														<div class="text">
															<h3>Equality</h3>
															<p>We respect all individuals equally</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diversity"></span></div>
														<div class="text">
															<h3>Diversity</h3>
															<p>We welcome and learn from all individuals.</p>
														</div>
													</div>
												</div>
											</div>
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-day-5-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'website/images/dept-5.jpg'%});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Plan Management</h2>
	              			<p>Our qualified CPA provides a plan management service.</br></br>

	              				The plan manager will work with you on your plan so that they can track your goal achievement. He is a responsible professional to develop a learning platform of implementing your NDIS plan and refer to number of service providers to obtain the service of your choice ensuring no conflict of interest. He can keep your record for the purpose of the audit.</br></br>
	              				To pay for your support, you can simply choose one of the following options:</br>

									E-mail your authorised invoice/s to us</br>

									Mail your signed invoice/s to our mailing address</br>

									Set up a standing authorisation for the service providers of your choice</br></br>

									It is very simple. We will process authorised invoices within 2 business days, provided that you have a valid NDIS (National Disability Insurance Scheme) plan. We will also send periodic activity statements to assist you in tracking your spending.





	              			</p>
											<div class="row mt-5 pt-2">
												<div class="col-md-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-eye-care"></span></div>
														<div class="text">
															<h3>Our Vision</h3>
															<p>That all people with disabilities must be involved equally in all aspects of social, economic, political and cultural life.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-mission"></span></div>
														<div class="text">
															<h3>Our Mission</h3>
															<p><b>NDS</b> focuses on the strengths of Australians while helping each individuals overcoming the disadvantages of any types to improve their quality of life.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-human-rights"></span></div>
														<div class="text">
															<h3>Equality</h3>
															<p>We respect all individuals equally.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diversity"></span></div>
														<div class="text">
															<h3>Diversity</h3>
															<p>We welcome and learn from all individuals.</p>
														</div>
													</div>
												</div>
											</div>
	              		</div>
	              	</div>
	              </div>
	              <div class="tab-pane fade" id="v-pills-6" role="tabpanel" aria-labelledby="v-pills-day-6-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'website/images/dept-5.jpg'%});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Allied Health</h2>
	              			<p>We offer experienced allied health professional in Disability and Aged sector.</br></br>
	              				The Support Coordination team at<strong> National Disability Solutions</strong> can assist with connecting you to NDIS registered allied healthcare services. </br></br>
	              				These services include:</br></br>

									-Psychology</br>
									-Physiotherapy</br>
									-Chiropractic</br>
									-Speech Pathology</br>
									-Podiatry</br>
									-Nursing
									-Occupational therapy</br>
									-Social work</br>
									-Osteopathy</br>
									-Aboriginal and Torres Strait Islander health services</br>
									-Accredited exercise physiology</br>
	              				
                                 </p>
											<div class="row mt-5 pt-2">
												<div class="col-md-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-eye-care"></span></div>
														<div class="text">
															<h3>Our Vision</h3>
															<p>That all people with disabilities must be involved equally in all aspects of social, economic, political and cultural life.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-mission"></span></div>
														<div class="text">
															<h3>Our Mission</h3>
															<p><b>NDS</b> focuses on the strengths of Australians while helping each individuals overcoming the disadvantages of any types to improve their quality of life.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-human-rights"></span></div>
														<div class="text">
															<h3>Equality</h3>
															<p>We respect all individuals equally.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diversity"></span></div>
														<div class="text">
															<h3>Diversity</h3>
															<p>We welcome and learn from all individuals.</p>
														</div>
													</div>
												</div>
											</div>
	              		</div>
	              	</div>
	              </div>

	               <div class="tab-pane fade" id="v-pills-7" role="tabpanel" aria-labelledby="v-pills-day-7-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'website/images/dept-2.jpg'%});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Home Modification</h2>
	              			<p>Our NDIS approved Builder can assist with the modification of your home to facilitate your independence</br></br>
	              				Our very experienced builder holds a Builder License. He has several years of experience in modifying and building new homes. </br></br>
	              				<strong>National Disability Solutions</strong> provides consulting, design, construction services, and the  This may includes:</br></br>
	              				-Handicap Ramps</br>
								-Door and Hallway Widening</br>
								-Accessible Bathrooms</br>
								-Accessible Bedrooms</br>
								-Automatic Door Openers</br>
								-Low-Pile Carpet and Smooth Flooring</br>
								-Stairlifts and Porch Lifts</br>
								-Ceiling Track Lifts</br>
								-Accessible Lighting</br>
								-Emergency Exits</br>

	              				
	              			</p>
											<div class="row mt-5 pt-2">
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-eye-care"></span></div>
														<div class="text">
															<h3>Our Vision</h3>
															<p>That all people with disabilities must be involved equally in all aspects of social, economic, political and cultural life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-mission"></span></div>
														<div class="text">
															<h3>Our Mission</h3>
															<p><b>NDS</b> focuses on the strengths of Australians while helping each individuals overcoming the disadvantages of any types to improve their quality of life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-human-rights"></span></div>
														<div class="text">
															<h3>Equality</h3>
															<p>We respect all individuals equally.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diversity"></span></div>
														<div class="text">
															<h3>Diversity</h3>
															<p>We welcome and learn from all individuals.</p>
														</div>
													</div>
												</div>
											</div>
	              		</div>
	              	</div>
	              </div>

	               <div class="tab-pane fade" id="v-pills-8" role="tabpanel" aria-labelledby="v-pills-day-8-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'website/images/dept-2.jpg'%});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Physiotherapy</h2>
	              			<p>At <strong>National Disability Solutions </strong>our Physiotherapists will help participants of all age groups and with different conditions. They help participants take part in the community and be more independent.</br></br>
	              			Our Physiotherapists are experts in treating children, young people and adults with a disability, heart and lung conditions, neurological and musculoskeletal conditions, and ageing and gender specific conditions.</br></br>
	              				Physiotherapists can help you, or the person you care for: </br>
	              				-get out of bed</br>
	              				-take a bath or shower, dress and eat</br>
	              				-move around the home and outside the home</br>
	              				-do daily jobs, or sports and hobbies</br>
	              				-manage pain and chronic conditions</br>
	              				-lose weight</br>
	              				-choose and learn to use new equipment, like wheelchairs, walking frames and orthotics</br>
	              				</br>
	              				Participants may need a short burst of care from a physiotherapist, or care for a longer time to achieve their goals. Our physiotherapists can put a plan together to help them now, and into the future.</br></br>
	              				Some health conditions need a number of health experts to work together. Physiotherapists also work closely with other health workers. Together they can help you manage more complex needs.



	              			</p>
											<div class="row mt-5 pt-2">
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-eye-care"></span></div>
														<div class="text">
															<h3>Our Vision</h3>
															<p>That all people with disabilities must be involved equally in all aspects of social, economic, political and cultural life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-mission"></span></div>
														<div class="text">
															<h3>Our Mission</h3>
															<p><b>NDS</b> focuses on the strengths of Australians while helping each individuals overcoming the disadvantages of any types to improve their quality of life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-human-rights"></span></div>
														<div class="text">
															<h3>Equality</h3>
															<p>We respect all individuals equally.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diversity"></span></div>
														<div class="text">
															<h3>Diversity</h3>
															<p>We welcome and learn from all individuals.</p>
														</div>
													</div>
												</div>
											</div>
	              		</div>
	              	</div>
	              </div>

	               <div class="tab-pane fade" id="v-pills-9" role="tabpanel" aria-labelledby="v-pills-day-9-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'website/images/dept-2.jpg'%});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Occupational Therapist (OT)</h2>
	              			<p><strong>National Disability Solutions</strong> Care is providing an OT specialist who is registered with NDIS , our occupational therapists have experience in several specialty areas including pediatrics, autism, intellectual disability, mental health, and neurological disorders. We provide services and expertise in the following areas :</br>
	              				</br>
	              				-Home Assessment</br>
	              				-Functional (ADL) Assessment</br>
	              				-Assistive Technology (equipment)</br>
	              				-Sensory Profile Assessment</br>
	              				-Pre-planning Assessment</br>
	              				-Housing Assessment SIL</br>
	              				-Housing Assessment SDA</br>
	              				-Recreation/ Work services</br>
	              				-Home Modifications</br>



	              			</p>
											<div class="row mt-5 pt-2">
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-eye-care"></span></div>
														<div class="text">
															<h3>Our Vision</h3>
															<p>That all people with disabilities must be involved equally in all aspects of social, economic, political and cultural life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-mission"></span></div>
														<div class="text">
															<h3>Our Mission</h3>
															<p><b>NDS</b> focuses on the strengths of Australians while helping each individuals overcoming the disadvantages of any types to improve their quality of life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-human-rights"></span></div>
														<div class="text">
															<h3>Equality</h3>
															<p>We respect all individuals equally.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diversity"></span></div>
														<div class="text">
															<h3>Diversity</h3>
															<p>We welcome and learn from all individuals.</p>
														</div>
													</div>
												</div>
											</div>
	              		</div>
	              	</div>
	              </div>

	              
	               <div class="tab-pane fade" id="v-pills-10" role="tabpanel" aria-labelledby="v-pills-day-10-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'website/images/dept-2.jpg'%});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Supported Independent Living </h2>
	              			<p>Supported Independent Living is sometimes called shared accommodation, SIL is an NDIS support where a person with a disability lives with other people. (SIL) is a shared living arrangement of 2 to 7 NDIS participants, with 24/7 support in a home environment. SIL supports people with disability that require assistance with daily life tasks, each resident is funded individually, and the funding reflects their individual and shared support in the home.</br></br>
	              				National Disability Solutions will provide customers with a comfortable and secure home, we will also support you with day-to-day tasks like:</br></br>
	              				-Cleaning and laundry</br>
	              				-Nutrition and cooking</br>
	              				-Personal care such as showering and dressing</br>
	              				-Going to appointments</br>
	              				-Taking medication</br>
	              				-Taking up a hobby</br>
	              				-Learning to catch public transport.</br>
	          



	              			</p>
											<div class="row mt-5 pt-2">
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-eye-care"></span></div>
														<div class="text">
															<h3>Our Vision</h3>
															<p>That all people with disabilities must be involved equally in all aspects of social, economic, political and cultural life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-mission"></span></div>
														<div class="text">
															<h3>Our Mission</h3>
															<p><b>NDS</b> focuses on the strengths of Australians while helping each individuals overcoming the disadvantages of any types to improve their quality of life.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-human-rights"></span></div>
														<div class="text">
															<h3>Equality</h3>
															<p>We respect all individuals equally.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="services-2 d-flex">
														<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diversity"></span></div>
														<div class="text">
															<h3>Diversity</h3>
															<p>We welcome and learn from all individuals.</p>
														</div>
													</div>
												</div>
											</div>-->
	              		</div>
	              	</div>
	              </div>
	            </div>
	          </div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
        	<div class="row mt-5 pt-2">
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-mission"></span></div>
										<div class="text">
											<h3 >Our Mission</h3>
											<p>Working together to achieve the best quality of life targeting each individual goals.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-eye-care"></span></div>
										<div class="text">
											<h3>Our vision</h3>
											<p>Empower nationals with different ability and bring differences in person’s life and society.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-value"></span></div>
										<div class="text">
											<h3>Our values</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-love"></span></div>
										<div class="text">
											<h3>Inclusion</h3>
											<p>We respect the differences; ethnicity, background, religion, sex, different ability.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reliability"></span></div>
										<div class="text">
											<h3>Reliability</h3>
											<p>We promise to deliver reliable personalized services according to client’s needs and goals.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-integration"></span></div>
										<div class="text">
											<h3>Integrity</h3>
											<p>We deliver services honestly and transparently in the best interest of our valued clients. </p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-quality"></span></div>
										<div class="text">
											<h3>Quality</h3>
											<p>We believe in high quality services with skill improvement. We provide high quality services to our clients and maintain Australian Quality Standards.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diversity"></span></div>
										<div class="text">
											<h3>Diversity</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
										</div>
									</div>
								</div>
							</div>
						
					</div>
							</div>
						
					</div>
				</div>
			</div>
		</section>
		
		<section class="ftco-intro" style="background-image: url({%static 'website/images/bg_3.jpg'%});" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<h2>We Provide Free Disability Care Consultation</h2>
						<p class="mb-0">Your Health is Our Top Priority with Comprehensive, Affordable Disability Services.</p>
						<p></p>
					</div>
					<div class="col-md-3 d-flex align-items-center">
						<p class="mb-0"><a href="tel://+61- 432051040" class="btn btn-secondary px-4 py-3">Ask Expert</a></p>
					</div>
				</div>
			</div>
		</section>

    {% endblock %}